.hero{
	width: 40%;
	height: 30%;
}

.image{
	width: 40%;
	height: 30%;
}

.food{
	width: 20%;
	height: 10%;
}
body{
	background-color: darkorange;
}
.helper{
	width:30%;
	height: 30%;
}
.school{
	width:30%;
	height: 30%;
}